*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #FFFAFA;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
.left-content,.right-content{
    flex-basis: 50%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 3rem;
}
.card{
    width: 300px;
    background-color: #FFE0E0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top:100px;
    right: 10px;
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #FFC0D0;
    color: black;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: black;
    background-color: #EFDFBF;
    border-radius: 8px;
}

.img{
    width: 350px;
    height: 300px;
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    position:sticky;
    } 
    nav li{
    display:inline-block;
    width:100%;
    position:sticky;
    padding:50px 50px;
    background-color:#000;
    border:10px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }
    nav li{
        float:left;
        width:100%;
        padding:5px 10px;
        background-color:#000;
        border:30px solid #000;
        text-align:center;
        color:#fff;
        position:sticky;
        }

        .images{
            width: 500px;
            height: 550px;
        }
        .center{
            position:center ;
            text-align:center;
        }
        #hobbies{
            position:center ;
            text-align:center;
        }
.imgfondo{
   width: 1600px;
   height: 700px;
}